{% extends "baza.html" %} {% block title %}Sign Up{% endblock %} {% block
content %}


<main role="main" class="container">
 <div class="starter-template">
 <br>
     <h1>Dodaj pracownika</h1>
<form action = "{{ url_for('addrec') }}" method = "POST">

 Imię <br>
 <input type = "text" name = "imie" class="form-control" placeholder="Imie" /></br>

Nazwisko <br>
 <input type = "text" name = "nazwisko" class="form-control" placeholder="Nazwisko" /></br>

 Numer pracownika<br>
 <input type = "text" name = "nrpracownika" class="form-control" placeholder="Numer" /><br>

  Adres<br>
 <textarea name = "adres" class="form-control" placeholder="Adres"> </textarea><br>


 <input type = "submit" value = "Zapisz" /><br>
 </form>
     {{ msg }}
 </div>
 </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
{% endblock %}